.header {
  height: 72px;
  background-color: var(--inputs);
  border-bottom: 1px solid var(--badges);
  display: flex;
  align-items: center;
}

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 24px 0px;
}

.logo {
  position: absolute;
  left: 0;
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  gap: 32px;
}

.link {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: var(--main);
}

.link.active {
  color: var(--button-hover);
}
