.reviewsList {
  display: flex;
  flex-direction: column;
  gap: 44px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.reviewItem {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.reviewerHeader {
  display: flex;
  align-items: center;
  gap: 16px;
}

.avatar {
  width: 60px;
  height: 60px;
  background-color: var(--badges);
  border-radius: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33;
  color: var(--button);
}

.reviewerMeta {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.reviewerName {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--main);
  margin: 0;
}

.comment {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--text);
  margin: 0;
}

.noReviews {
  color: var(--text);
  font-size: 16px;
}
