.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
  width: 100%;
}

.overlayFull {
  position: fixed;
  inset: 0;
  z-index: 9999;

  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(3px);
  padding: 0;
}

.spinner {
  width: 48px;
  height: 48px;
  border: 5px solid var(--badges);
  border-bottom-color: var(--button);
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}