.header {
  margin-top: 48px;
  margin-bottom: 28px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.name {
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  color: var(--main);
  margin: 0;
}

.infoRow {
  display: flex;
  align-items: center;
  gap: 16px;
}

.ratingWrapper {
  display: flex;
  align-items: center;
  gap: 4px;
}

.starIcon {
  fill: var(--rating);
}

.ratingText {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: var(--main);
}

.locationWrapper {
  display: flex;
  align-items: center;
  gap: 4px;
}

.locationIcon {
  fill: var(--main);
}

.locationText {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--main);
}

.price {
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  color: var(--main);
  margin-top: 8px;
  margin-bottom: 0;
}
