.galleryList {
  display: flex;
  justify-content: center;
  gap: 48px;
  list-style: none;
  padding: 0;
  margin-bottom: 28px;
  width: 100%;
}

.galleryItem {
  flex: 0 1 292px;
  min-width: 0;
}

.imageWrapper {
  position: relative;
  width: 100%;
  height: 312px;
  border-radius: 10px;
  overflow: hidden;
  background-color: var(--text);
}

.image {
  object-fit: cover;
  object-position: center;
  transition: transform 0.3s ease;
}

.imageWrapper:hover .image {
  transform: scale(1.05);
}
