.sidebar {
  min-width: 360px;
  max-width: 360px;
}

.locationWrapper {
  margin-bottom: 40px;
}

.label {
  display: block;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--gray);
  margin-bottom: 8px;
}

.inputInner {
  position: relative;
  display: flex;
  align-items: center;
}

.locationIcon {
  position: absolute;
  left: 20px;
  fill: var(--gray);
  pointer-events: none;
}

.inputInner:focus-within .locationIcon,
.input:not(:placeholder-shown) ~ .locationIcon {
  fill: var(--main);
}

.input {
  width: 100%;
  height: 56px;
  padding: 16px 20px 16px 48px;
  background-color: var(--inputs);
  border-radius: 12px;
  border: none;
  font-size: 16px;
  color: var(--main);
  outline: none;
}

.input::placeholder {
  color: var(--gray);
}

.filtersTitle {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: var(--text);
}

.section {
  margin-top: 32px;
}

.sectionTitle {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  color: var(--main);
  margin-bottom: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid var(--gray-light);
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px 12px;
}

.filterCard {
  background-color: transparent;
  border: 1px solid var(--gray-light);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  cursor: pointer;
  transition: border-color 0.3s ease;
  height: 96px;
}

.filterCard:hover {
  border-color: var(--button-hover);
}

.filterCard.active {
  border-color: var(--button);
}

.filterIcon {
  fill: var(--main);
}

.filterLabel {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.01em;
  text-align: center;
  color: var(--main);
}

.searchBtn {
  width: 166px;
  margin: 40px 0;
  background-color: var(--button);
  color: var(--white);
  padding: 16px 60px;
  border: none;
  border-radius: 200px;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.01em;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.searchBtn:hover {
  background-color: var(--button-hover);
}
